<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div id="header">
        <h1>Chatbot</h1>
    <header>

    </header>
    <link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
<script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
<df-messenger
  project-id="civic-surge-420016"
  agent-id="a6413236-0474-4e92-86ab-7bc12f6a1b1a"
  language-code="en"
  max-query-length="-1">
  <df-messenger-chat-bubble
   chat-title="">
  </df-messenger-chat-bubble>
</df-messenger>
<style>
  df-messenger {
    z-index: 999;
    position: fixed;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: Google Sans;
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
    bottom: 16px;
    right: 16px;
  }
</style>
</body>
</html>