@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-expand {
    transition: max-height 0.5s ease-in-out;
    max-height: 10rem;
}
  
.animate-expand.active {
    max-height: 50rem;
    opacity: 1;
}