fastapi[all]==0.109.0
uvicorn[standard]==0.27.0
python-multipart==0.0.9
# pydparser==1.0.4
tensorflow==2.16.1
opencv-python==4.9.0.80
SpeechRecognition==3.10.1
gunicorn==21.2.0
cmake==3.29.0.1
google-generativeai==0.4.1
# dlib==19.24.2  # normal install probably give wheel problem, download from https://github.com/Silufer/dlib-python, then pip install dlib-19.24.2-cp312-cp312-win_amd64.whl
nltk==3.8.1
pymongo==4.6.3
torch==2.2.2
python-dotenv==1.0.1
joblib==1.3.2
textstat==0.7.3
Werkzeug==3.0.2
language-tool-python==2.7.1
gensim==4.3.2 
# spicy==1.12.0  # this important, 1.13.0 will give error
scikit-learn==1.2.2 # this important, because the gb_model_v1.pkl model is trained with this version
PyPDF2==3.0.1
xgboost==1.4.0

# for ffmpeg-python, need to install ffmpeg first, download from https://ffmpeg.org/download.html, then add to PATH, tutorial: https://phoenixnap.com/kb/ffmpeg-windows

# # spaCy
# python -m spacy download en_core_web_sm

# # nltk
# python -m nltk.downloader words
# python -m nltk.downloader stopwords