<html lang="en">
<body>
    <header>

    </header>
    <link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
<script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
<df-messenger
  project-id="civic-surge-420016"
  agent-id="6c22b795-7ab1-4a8c-92ff-4eb86fd84941"
  language-code="en"
  max-query-length="-1">
  <df-messenger-chat-bubble
   chat-title="EVA">
  </df-messenger-chat-bubble>
</df-messenger>
<style>
  body {
    background-image: url('/static/image.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  df-messenger {
    z-index: 999;
    position: fixed;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: Google Sans;
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
    bottom: 16px;
    right: 16px;
  }
</style>
</body>
</html>